footer.footer
  ul.footer__nav
    li A mind that is stretched by new experiences can never go back to its old dimensions.
    li - Oliver Wendell Holmes 
  p.footer__copyright Created by Dave Halewood.