header.header
  nav.nav.nav--tours
    a.nav__el(href='/learning') Learning
  .header__logo
    img(src='/img/memory-recall.png' alt='Memory Recall logo')

  .nav.nav.nav--user  
    if user
      //- #{user}
      .a.nav__el.nav__el--logout Log out
      .a.nav__el(href="#")
        span= user.userName
    else
      a.nav__el(href='/login') Log in
      //- button.nav__el.nav__el--cta Sign up