header.headerWelcome
  .nav--welcome Welcome!! Benvenuto!! Bem-vindo!! Willkommen!! Bienvenido!! Bienvenue!! Witaj!! 
    if user
      .a.nav__el.nav__el--logout Log out
      .a.nav__el(href="#")
        //- img.nav__user-img(src='img/user.jpg' alt='User photo')
        span= user.userName
    else
      a.nav__el(href='/') Home
      //- button.nav__el.nav__el--cta Sign up