extends base

block content
 main.mainWelcome
  .home-container
    //- .home-text
      //- .memory-text memory excellence

    .rowBoxHeader
      .home-image

        +svg-icon.svgHead(svg-icon-name=`head`)
        if user
          a.btn.btn--beginBlue.btn_small-footer(href=`/overview`) next
        else
          a.btn.btn--beginBlue.btn_small-footer(href=`/login`) Log in
        