extends base

block content
  main.main
  h1 hello chuck
    .card-container
      img(src='/img/svg/logo-javascript.png' alt='Javascript logo')
      img(src='/img/svg/logo-node.png' alt='Node logo')
      img(src='/img/svg/logo-typescript.png' alt='Typescript logo')
      img(src='/img/svg/logo-mongodb.png' alt='Mongodb logo')
      img(src='/img/svg/logo-jest.png' alt='Jest logo')
      img(src='/img/svg/logo-express.png' alt='Express logo')
      img(src='/img/svg/logo-html5.png' alt='Html5 logo')
      img(src='/img/svg/logo-css.png' alt='CSS logo')


      //- img(src='/img/brain-line.png' alt='Brain-line')

      