extends base

block content
  .main
    .card-container
      .area-card
        .area-card__picture
          img.area-card__picture-img(src='/img/svg/logo-javascript.png' alt='Javascript logo')
        .card__footer
          a.btn.btn--green.btn_small-footer(href=`/overview`) Begin
      .area-card
        .area-card__picture
          img.area-card__picture-img(src='/img/svg/logo-node.png' alt='Node logo')
          h1.heading-pending
              span Coming soon!
        .card__footer
          a.btn.btn--grey.btn_small-footer(href=`#href`) Begin  
      .area-card
        .area-card__picture
          img.area-card__picture-img(src='/img/svg/logo-typescript.png' alt='Typescript logo')
          h1.heading-pending
              span Coming soon!
        .card__footer
          a.btn.btn--grey.btn_small-footer(href=`#href`) Begin
      .area-card
        .area-card__picture
          img.area-card__picture-img(src='/img/svg/logo-mongodb.png' alt='Mongodb logo')
          h1.heading-pending
              span Coming soon!
        .card__footer
          a.btn.btn--grey.btn_small-footer(href=`#href`) Begin
      .area-card
        .area-card__picture
          img.area-card__picture-img(src='/img/svg/logo-jest.png' alt='Jest logo')
          h1.heading-pending
              span Coming soon!
        .card__footer
          a.btn.btn--grey.btn_small-footer(href=`#href`) Begin
      .area-card
        .area-card__picture
          img.area-card__picture-img(src='/img/svg/logo-express.png' alt='Express logo')
          h1.heading-pending
              span Coming soon!
        .card__footer
          a.btn.btn--grey.btn_small-footer(href=`#href`) Begin
      .area-card
        .area-card__picture
          img.area-card__picture-img(src='/img/svg/logo-html5.png' alt='Html5 logo')
          h1.heading-pending
              span Coming soon!
        .card__footer
          a.btn.btn--grey.btn_small-footer(href=`#href`) Begin
      .area-card
        .area-card__picture
          img.area-card__picture-img(src='/img/svg/logo-css.png' alt='CSS logo')
          h1.heading-pending
              span Coming soon!
        .card__footer
          a.btn.btn--grey.btn_small-footer(href=`#href`) Begin

      