mixin svg-icon
  -
    var icon = attributes['svg-icon-name']
  
  case icon
    when 'chevron-right'
      include icons/chevron-right
    when 'shield'
      include icons/shield
    when 'icon-2'
      include icons/icon-2
    when 'icon-3'
      include icons/icon-3
    when 'icon-4'
      include icons/icon-4
    when 'icon-5'
      include icons/icon-5
    when 'icon-6'
      include icons/icon-6
    when 'icon-7'
      include icons/icon-7
    when 'icon-8'
      include icons/icon-8
    when 'head'
      include icons/head
    