svg(viewBox='0 0 600 425', xmlns='http://www.w3.org/2000/svg')&attributes(attributes)

  path(d='M387.92 150.76C355.376 155.38 363.652 147.168 375.62 142.976C387.586 138.784 420.51 126.991 429.117 97.874C437.722 68.7609 406.098 52.7846 395.168 55.4071C384.239 58.0288 369.625 56.6316 364.102 48.429C358.58 40.2264 337.518 22.4223 310.458 39.8623C283.4 57.3023 294.812 97.6366 296.919 110.531C299.027 123.425 293.936 121.768 290.57 113.42C287.203 105.072 264.778 60.289 231.027 60.4901C197.277 60.6921 184.541 91.7385 188.743 101.222C192.944 110.707 199.989 114.922 180.293 124.097C160.598 133.272 151.011 159.066 174.026 175.356C197.042 191.645 229.924 178.351 241.142 180.092C252.36 181.837 201.094 194.872 187.253 220.146C173.412 245.421 205.223 265.074 219.147 265.483C230.127 265.802 241.903 264.64 247.309 278.54C252.715 292.441 284.983 299.762 305.917 286.312C326.851 272.863 326.054 242.382 325.274 236.359C324.496 230.335 328.574 237.368 328.574 237.368C328.574 237.368 336.993 254.023 329.325 284.961C320.553 320.356 302.99 338.036 287.729 345.297C272.468 352.556 286.326 372.388 286.326 372.388C286.326 372.388 304.747 372.104 328.433 338.166C352.119 304.229 347.791 265.524 345.498 250.987C343.205 236.453 336.32 228.04 341.331 230.777C346.342 233.515 361.149 271.465 393.758 270.111C413.407 269.293 429.509 251.275 432.198 231.599C434.888 211.919 460.089 211.219 461.719 189.306C463.351 167.397 420.465 146.14 387.92 150.76Z')
  
  circle(cx='257' cy='234' r='20')
  path(d='M258.543 242H256.363V227.551L251.992 229.156V227.188L258.203 224.855H258.543V242Z')
  circle(cx='257' cy='234' r='22.5' stroke='#F2994A' stroke-width='5')

  circle(cx='244' cy='125' r='20')
  path(d='M249.598 133H238.418V131.441L244.324 124.879C245.199 123.887 245.801 123.082 246.129 122.465C246.465 121.84 246.633 121.195 246.633 120.531C246.633 119.641 246.363 118.91 245.824 118.34C245.285 117.77 244.566 117.484 243.668 117.484C242.59 117.484 241.75 117.793 241.148 118.41C240.555 119.02 240.258 119.871 240.258 120.965H238.09C238.09 119.395 238.594 118.125 239.602 117.156C240.617 116.188 241.973 115.703 243.668 115.703C245.254 115.703 246.508 116.121 247.43 116.957C248.352 117.785 248.812 118.891 248.812 120.273C248.812 121.953 247.742 123.953 245.602 126.273L241.031 131.23H249.598V133Z')
  circle(cx='244' cy='125' r='22.5' stroke='#F2994A' stroke-width='5')

  circle(cx='364' cy='95' r='20')
  path(d='M361.57 93.4141H363.199C364.223 93.3984 365.027 93.1289 365.613 92.6055C366.199 92.082 366.492 91.375 366.492 90.4844C366.492 88.4844 365.496 87.4844 363.504 87.4844C362.566 87.4844 361.816 87.7539 361.254 88.293C360.699 88.8242 360.422 89.5312 360.422 90.4141H358.254C358.254 89.0625 358.746 87.9414 359.73 87.0508C360.723 86.1523 361.98 85.7031 363.504 85.7031C365.113 85.7031 366.375 86.1289 367.289 86.9805C368.203 87.832 368.66 89.0156 368.66 90.5312C368.66 91.2734 368.418 91.9922 367.934 92.6875C367.457 93.3828 366.805 93.9023 365.977 94.2461C366.914 94.543 367.637 95.0352 368.145 95.7227C368.66 96.4102 368.918 97.25 368.918 98.2422C368.918 99.7734 368.418 100.988 367.418 101.887C366.418 102.785 365.117 103.234 363.516 103.234C361.914 103.234 360.609 102.801 359.602 101.934C358.602 101.066 358.102 99.9219 358.102 98.5H360.281C360.281 99.3984 360.574 100.117 361.16 100.656C361.746 101.195 362.531 101.465 363.516 101.465C364.562 101.465 365.363 101.191 365.918 100.645C366.473 100.098 366.75 99.3125 366.75 98.2891C366.75 97.2969 366.445 96.5352 365.836 96.0039C365.227 95.4727 364.348 95.1992 363.199 95.1836H361.57V93.4141Z')
  circle(cx='364' cy='95' r='22.5' stroke='#F2994A' stroke-width='5')

  circle(cx='404' cy='203' r='20')
  path(d='M407.57 205.27H409.938V207.039H407.57V211H405.391V207.039H397.621V205.762L405.262 193.938H407.57V205.27ZM400.082 205.27H405.391V196.902L405.133 197.371L400.082 205.27Z')
  circle(cx='404' cy='203' r='22.5' stroke='#F2994A' stroke-width='5')

