svg(viewBox='0 0 600 425', xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
  g(id='eggBox6')
    path(d='M339 87C339 75.9543 347.954 67 359 67H487C498.046 67 507 75.9543 507 87V300C507 311.046 498.046 320 487 320H359C347.954 320 339 311.046 339 300V87Z' fill='#DCDCDC')
    path(d='M162 87C162 75.9543 170.954 67 182 67H310C321.046 67 330 75.9543 330 87V300C330 311.046 321.046 320 310 320H182C170.954 320 162 311.046 162 300V87Z' fill='#DCDCDC')
    rect(x='319' y='129' width='21' height='129' fill='#DCDCDC')
    path(d='M349 95C349 83.9543 357.954 75 369 75H477C488.046 75 497 83.9543 497 95V292C497 303.046 488.046 312 477 312H369C357.954 312 349 303.046 349 292V95Z')
    path(d='M349 95C349 83.9543 357.954 75 369 75H477C488.046 75 497 83.9543 497 95V292C497 303.046 488.046 312 477 312H369C357.954 312 349 303.046 349 292V95Z' fill='#C4C4C4' stroke='#C4C4C4' stroke-width='52')
    path(d='M171 95C171 83.9543 179.954 75 191 75H299C310.046 75 319 83.9543 319 95V292C319 303.046 310.046 312 299 312H191C179.954 312 171 303.046 171 292V95Z')
    path(d='M171 95C171 83.9543 179.954 75 191 75H299C310.046 75 319 83.9543 319 95V292C319 303.046 310.046 312 299 312H191C179.954 312 171 303.046 171 292V95Z' fill='#C4C4C4' stroke='#C4C4C4' stroke-width='52')
    path(d='M368 117C368 105.954 376.954 97 388 97H458C469.046 97 478 105.954 478 117V270C478 281.046 469.046 290 458 290H388C376.954 290 368 281.046 368 270V117Z' fill='#DCDCDC')
    rect(x='478' y='129' width='11' height='32' fill='white')
    rect(x='478' y='226' width='11' height='32' fill='white')
    path(d='M127 145C127 136.716 133.716 130 142 130H162V258H142C133.716 258 127 251.284 127 243V145Z' fill='#DCDCDC')
    path(d='M309.705 151.067C306.737 149.092 305.253 148.104 304.659 146.905C303.959 145.495 303.964 143.838 304.673 142.432C305.275 141.237 306.766 140.259 309.746 138.303L316.61 133.798C320.174 131.458 321.957 130.289 323.424 130.274C325.149 130.257 326.761 131.131 327.689 132.585C328.478 133.822 328.471 135.954 328.457 140.218L328.428 149.272C328.415 153.535 328.408 155.667 327.611 156.9C326.674 158.348 325.056 159.211 323.332 159.183C321.864 159.159 320.089 157.978 316.54 155.616L309.705 151.067Z' fill='#DCDCDC')
    path(d='M238.631 297.851C240.635 294.902 241.636 293.427 242.841 292.844C244.258 292.158 245.915 292.179 247.314 292.901C248.503 293.515 249.466 295.015 251.394 298.014L255.833 304.921C258.138 308.507 259.291 310.301 259.291 311.768C259.291 313.493 258.403 315.097 256.94 316.01C255.695 316.788 253.563 316.761 249.3 316.706L240.247 316.59C235.983 316.536 233.851 316.508 232.627 315.699C231.188 314.749 230.34 313.123 230.385 311.399C230.422 309.932 231.621 308.168 234.017 304.642L238.631 297.851Z' fill='#DCDCDC')
    path(d='M252.118 87.4153C250.127 90.3725 249.131 91.8511 247.929 92.4393C246.515 93.1314 244.858 93.1172 243.456 92.4009C242.264 91.792 241.294 90.2965 239.354 87.3055L234.887 80.4175C232.566 76.8404 231.406 75.0518 231.4 73.5842C231.392 71.8592 232.274 70.2522 233.733 69.3324C234.975 68.5498 237.107 68.5681 241.37 68.6048L250.424 68.6827C254.687 68.7194 256.819 68.7377 258.047 69.5416C259.49 70.4864 260.345 72.1083 260.307 73.8329C260.276 75.3002 259.085 77.0685 256.704 80.6052L252.118 87.4153Z' fill='#DCDCDC')
    path(d='M183.206 144.291C186.184 146.251 187.673 147.231 188.274 148.426C188.981 149.833 188.984 151.49 188.283 152.9C187.687 154.098 186.201 155.084 183.231 157.055L176.391 161.596C172.839 163.954 171.062 165.133 169.595 165.155C167.87 165.181 166.254 164.316 165.319 162.866C164.523 161.633 164.519 159.501 164.51 155.237L164.492 146.184C164.484 141.92 164.479 139.788 165.27 138.552C166.199 137.099 167.812 136.227 169.537 136.246C171.005 136.262 172.786 137.434 176.347 139.778L183.206 144.291Z' fill='#DCDCDC')
    path(d='M305.705 243.067C302.737 241.092 301.253 240.104 300.659 238.905C299.959 237.495 299.964 235.838 300.673 234.432C301.275 233.237 302.766 232.259 305.746 230.303L312.61 225.798C316.174 223.458 317.957 222.289 319.424 222.274C321.149 222.257 322.761 223.131 323.689 224.585C324.478 225.822 324.471 227.954 324.457 232.218L324.428 241.272C324.415 245.535 324.408 247.667 323.611 248.9C322.674 250.348 321.056 251.211 319.332 251.183C317.864 251.159 316.089 249.978 312.54 247.616L305.705 243.067Z' fill='#DCDCDC')
    path(d='M185.515 230.488C188.533 232.385 190.042 233.334 190.668 234.517C191.404 235.908 191.442 237.565 190.77 238.989C190.199 240.199 188.734 241.215 185.805 243.248L179.061 247.93C175.558 250.361 173.807 251.577 172.34 251.629C170.616 251.691 168.982 250.859 168.017 249.43C167.196 248.213 167.148 246.082 167.051 241.819L166.845 232.768C166.748 228.505 166.699 226.374 167.464 225.121C168.364 223.649 169.958 222.745 171.683 222.728C173.15 222.713 174.955 223.848 178.565 226.118L185.515 230.488Z' fill='#DCDCDC')
    rect(x='224' y='144.66' width='32' height='32' transform='rotate(-45.0834 224 144.66)' fill='#DCDCDC')
    rect(x='222' y='241.66' width='32' height='32' transform='rotate(-45.0834 222 241.66)' fill='#DCDCDC')
    rect(x='236' y='145.33' width='16' height='16' transform='rotate(-45.0834 236 145.33)' fill='#EDECED')
    rect(x='232' y='242.33' width='16' height='16' transform='rotate(-45.0834 232 242.33)' fill='#EDECED')
    circle(cx='206' cy='108' r='30' fill='#EFC6A1')#egg1
    circle(cx='206' cy='196' r='30' fill='#EFC6A1')#egg3
    circle(cx='206' cy='277' r='30' fill='#EFC6A1')#egg5
    circle(cx='285' cy='277' r='30' fill='#EFC6A1')#egg6
    circle(cx='287' cy='196' r='30' fill='#EFC6A1')#egg4
    circle(cx='287' cy='108' r='30' fill='#EFC6A1')#egg2

  circle(cx='204' cy='108' r='20' fill='#C4C4C4')#circle_1_Inner
  path(d='M205.543 116H203.363V101.551L198.992 103.156V101.188L205.203 98.8555H205.543V116Z' fill='black')
  circle(cx='204' cy='108' r='22.5' stroke='#F2994A' stroke-width='5')

  circle(cx='287' cy='108' r='20' fill='#C4C4C4')#circle_2_Inner
  path(d='M292.598 116H281.418V114.441L287.324 107.879C288.199 106.887 288.801 106.082 289.129 105.465C289.465 104.84 289.633 104.195 289.633 103.531C289.633 102.641 289.363 101.91 288.824 101.34C288.285 100.77 287.566 100.484 286.668 100.484C285.59 100.484 284.75 100.793 284.148 101.41C283.555 102.02 283.258 102.871 283.258 103.965H281.09C281.09 102.395 281.594 101.125 282.602 100.156C283.617 99.1875 284.973 98.7031 286.668 98.7031C288.254 98.7031 289.508 99.1211 290.43 99.957C291.352 100.785 291.812 101.891 291.812 103.273C291.812 104.953 290.742 106.953 288.602 109.273L284.031 114.23H292.598V116Z' fill='black')
  circle(cx='287' cy='108' r='22.5' stroke='#F2994A' stroke-width='5')

  circle(cx='206' cy='196' r='20' fill='#C4C4C4')#circle_3_Inner
  path(d='M203.57 194.414H205.199C206.223 194.398 207.027 194.129 207.613 193.605C208.199 193.082 208.492 192.375 208.492 191.484C208.492 189.484 207.496 188.484 205.504 188.484C204.566 188.484 203.816 188.754 203.254 189.293C202.699 189.824 202.422 190.531 202.422 191.414H200.254C200.254 190.062 200.746 188.941 201.73 188.051C202.723 187.152 203.98 186.703 205.504 186.703C207.113 186.703 208.375 187.129 209.289 187.98C210.203 188.832 210.66 190.016 210.66 191.531C210.66 192.273 210.418 192.992 209.934 193.688C209.457 194.383 208.805 194.902 207.977 195.246C208.914 195.543 209.637 196.035 210.145 196.723C210.66 197.41 210.918 198.25 210.918 199.242C210.918 200.773 210.418 201.988 209.418 202.887C208.418 203.785 207.117 204.234 205.516 204.234C203.914 204.234 202.609 203.801 201.602 202.934C200.602 202.066 200.102 200.922 200.102 199.5H202.281C202.281 200.398 202.574 201.117 203.16 201.656C203.746 202.195 204.531 202.465 205.516 202.465C206.562 202.465 207.363 202.191 207.918 201.645C208.473 201.098 208.75 200.312 208.75 199.289C208.75 198.297 208.445 197.535 207.836 197.004C207.227 196.473 206.348 196.199 205.199 196.184H203.57V194.414Z' fill='black')
  circle(cx='206' cy='196' r='22.5' stroke='#F2994A' stroke-width='5')

  circle(cx='287' cy='196' r='20' fill='#C4C4C4')#circle_4_Inner
  path(d='M290.57 198.27H292.938V200.039H290.57V204H288.391V200.039H280.621V198.762L288.262 186.938H290.57V198.27ZM283.082 198.27H288.391V189.902L288.133 190.371L283.082 198.27Z' fill='black')
  circle(cx='287' cy='196' r='22.5' stroke='#F2994A' stroke-width='5')

  circle(cx='206' cy='278' r='20' fill='#C4C4C4')#circle_5_Inner
  path(d='M201.414 277.445L202.281 268.938H211.023V270.941H204.121L203.605 275.594C204.441 275.102 205.391 274.855 206.453 274.855C208.008 274.855 209.242 275.371 210.156 276.402C211.07 277.426 211.527 278.812 211.527 280.562C211.527 282.32 211.051 283.707 210.098 284.723C209.152 285.73 207.828 286.234 206.125 286.234C204.617 286.234 203.387 285.816 202.434 284.98C201.48 284.145 200.938 282.988 200.805 281.512H202.855C202.988 282.488 203.336 283.227 203.898 283.727C204.461 284.219 205.203 284.465 206.125 284.465C207.133 284.465 207.922 284.121 208.492 283.434C209.07 282.746 209.359 281.797 209.359 280.586C209.359 279.445 209.047 278.531 208.422 277.844C207.805 277.148 206.98 276.801 205.949 276.801C205.004 276.801 204.262 277.008 203.723 277.422L203.148 277.891L201.414 277.445Z' fill='black')
  circle(cx='206' cy='278' r='22.5' stroke='#F2994A' stroke-width='5')

  circle(cx='287' cy='277' r='20' fill='#C4C4C4')#circle_6_Inner
  path(d='M289.926 267.926V269.766H289.527C287.84 269.797 286.496 270.297 285.496 271.266C284.496 272.234 283.918 273.598 283.762 275.355C284.66 274.324 285.887 273.809 287.441 273.809C288.926 273.809 290.109 274.332 290.992 275.379C291.883 276.426 292.328 277.777 292.328 279.434C292.328 281.191 291.848 282.598 290.887 283.652C289.934 284.707 288.652 285.234 287.043 285.234C285.41 285.234 284.086 284.609 283.07 283.359C282.055 282.102 281.547 280.484 281.547 278.508V277.676C281.547 274.535 282.215 272.137 283.551 270.48C284.895 268.816 286.891 267.965 289.539 267.926H289.926ZM287.078 275.613C286.336 275.613 285.652 275.836 285.027 276.281C284.402 276.727 283.969 277.285 283.727 277.957V278.754C283.727 280.16 284.043 281.293 284.676 282.152C285.309 283.012 286.098 283.441 287.043 283.441C288.02 283.441 288.785 283.082 289.34 282.363C289.902 281.645 290.184 280.703 290.184 279.539C290.184 278.367 289.898 277.422 289.328 276.703C288.766 275.977 288.016 275.613 287.078 275.613Z' fill='black')
  circle(cx='287' cy='277' r='22.5' stroke='#F2994A' stroke-width='5')
