svg(viewBox='0 0 600 425', xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
  
  path(d='M300 256L359.756 346.75H240.244L300 256Z')#base
  //- path(fill='none')
  rect(x='288' y='212' width='23' height='87' rx='10')
  rect(x='77.8278' y='285.266' width='456' height='15' transform='rotate(-15 77.8278 285.266)')
  rect(fill='none')
  
  circle(cx='98' cy='232' r='20')#circle_1_Inner
  path(d='M99.543 240H97.3633V225.551L92.9922 227.156V225.188L99.2031 222.855H99.543V240Z')
  circle(cx='98' cy='232' r='22.5' stroke='#F2994A' stroke-width='10')

  circle(cx='492' cy='126' r='20')#circle_2_Inner
  path(d='M497.598 134H486.418V132.441L492.324 125.879C493.199 124.887 493.801 124.082 494.129 123.465C494.465 122.84 494.633 122.195 494.633 121.531C494.633 120.641 494.363 119.91 493.824 119.34C493.285 118.77 492.566 118.484 491.668 118.484C490.59 118.484 489.75 118.793 489.148 119.41C488.555 120.02 488.258 120.871 488.258 121.965H486.09C486.09 120.395 486.594 119.125 487.602 118.156C488.617 117.188 489.973 116.703 491.668 116.703C493.254 116.703 494.508 117.121 495.43 117.957C496.352 118.785 496.812 119.891 496.812 121.273C496.812 122.953 495.742 124.953 493.602 127.273L489.031 132.23H497.598V134Z')
  circle(cx='492' cy='126' r='22.5' stroke='#F2994A' stroke-width='10')
  