svg(viewBox='0 0 600 425', xmlns='http://www.w3.org/2000/svg')&attributes(attributes)

  rect(x='150' y='229' width='100' height='33')#base
  rect(x='250' y='196' width='100' height='66')#base
  rect(x='350' y='163' width='100' height='99')#base

  circle(cx='189' cy='196' r='20')#circle_1_Inner
  path(d='M190.543 204H188.363V189.551L183.992 191.156V189.188L190.203 186.855H190.543V204Z')
  circle(cx='189' cy='196' r='22.5' stroke='#F2994A' stroke-width='7.5')#circle_1_Outer

  circle(cx='300' cy='163' r='20')#circle_2_Inner
  path(d='M305.598 171H294.418V169.441L300.324 162.879C301.199 161.887 301.801 161.082 302.129 160.465C302.465 159.84 302.633 159.195 302.633 158.531C302.633 157.641 302.363 156.91 301.824 156.34C301.285 155.77 300.566 155.484 299.668 155.484C298.59 155.484 297.75 155.793 297.148 156.41C296.555 157.02 296.258 157.871 296.258 158.965H294.09C294.09 157.395 294.594 156.125 295.602 155.156C296.617 154.188 297.973 153.703 299.668 153.703C301.254 153.703 302.508 154.121 303.43 154.957C304.352 155.785 304.812 156.891 304.812 158.273C304.812 159.953 303.742 161.953 301.602 164.273L297.031 169.23H305.598V171Z')
  circle(cx='300' cy='163' r='22.5' stroke='#F2994A' stroke-width='7.5')#circle_2_Outer

  circle(cx='400' cy='129' r='20')#circle_3_Inner
  path(d='M397.57 127.414H399.199C400.223 127.398 401.027 127.129 401.613 126.605C402.199 126.082 402.492 125.375 402.492 124.484C402.492 122.484 401.496 121.484 399.504 121.484C398.566 121.484 397.816 121.754 397.254 122.293C396.699 122.824 396.422 123.531 396.422 124.414H394.254C394.254 123.062 394.746 121.941 395.73 121.051C396.723 120.152 397.98 119.703 399.504 119.703C401.113 119.703 402.375 120.129 403.289 120.98C404.203 121.832 404.66 123.016 404.66 124.531C404.66 125.273 404.418 125.992 403.934 126.688C403.457 127.383 402.805 127.902 401.977 128.246C402.914 128.543 403.637 129.035 404.145 129.723C404.66 130.41 404.918 131.25 404.918 132.242C404.918 133.773 404.418 134.988 403.418 135.887C402.418 136.785 401.117 137.234 399.516 137.234C397.914 137.234 396.609 136.801 395.602 135.934C394.602 135.066 394.102 133.922 394.102 132.5H396.281C396.281 133.398 396.574 134.117 397.16 134.656C397.746 135.195 398.531 135.465 399.516 135.465C400.562 135.465 401.363 135.191 401.918 134.645C402.473 134.098 402.75 133.312 402.75 132.289C402.75 131.297 402.445 130.535 401.836 130.004C401.227 129.473 400.348 129.199 399.199 129.184H397.57V127.414Z')
  circle(cx='400' cy='129' r='22.5' stroke='#F2994A' stroke-width='7.5')#circle_3_Outer
